<form (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">

        <h1 mat-dialog-title style="display: inline;">
            @if(data.action === "edit"){
            Edit Snus
            }
            @else{
            Add Snus
            }
        </h1>

        <button matButton (click)="fileInput.click()">New thumbnail</button>
        <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">

        <br>
        <br>

        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" value="" [(ngModel)]="snus.name" name="name">
        </mat-form-field>

        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select style="display: inline;" [(ngModel)]="snus.type" name="type" required>
                @for (t of snustypes; track t) {
                <mat-option value="{{t}}">{{t.replace("_", " ") | titlecase}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Brand</mat-label>
            <input matInput type="text" value="" [(ngModel)]="snus.brand" name="brand">
        </mat-form-field>

        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Rating</mat-label>
            <mat-select style="display: inline;" [(ngModel)]="snus.rating" name="rating">
                <mat-option [value]=1>1</mat-option>
                <mat-option [value]=2>2</mat-option>
                <mat-option [value]=3>3</mat-option>
                <mat-option [value]=4>4</mat-option>
                <mat-option [value]=5>5</mat-option>
                <mat-option [value]=6>6</mat-option>
                <mat-option [value]=7>7</mat-option>
                <mat-option [value]=8>8</mat-option>
                <mat-option [value]=9>9</mat-option>
                <mat-option [value]=10>10</mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="snus.description" name="description"></textarea>
        </mat-form-field>

        <br>

        <h2>Strength and size</h2>
        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Nicotine mg/g</mat-label>
            <input matInput type="number" value="" [(ngModel)]="snus.nicotine_g" name="nicotine_g">
        </mat-form-field>
        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Nicotine mg/portion</mat-label>
            <input matInput type="number" value="" [(ngModel)]="snus.nicotine_portion" name="nicotine_portion">
        </mat-form-field>
        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Portion size (g)</mat-label>
            <input matInput type="number" value="" [(ngModel)]="snus.portion_g" name="portion_g">
        </mat-form-field>
        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Total weight (g)</mat-label>
            <input matInput type="number" value="" [(ngModel)]="snus.weight_g" name="weight_g">
        </mat-form-field>
        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Portions</mat-label>
            <input matInput type="number" value="" [(ngModel)]="snus.portions" name="portions">
        </mat-form-field>
        <br>

        <h2>Amount</h2>
        @for (l of locations; track l.name) {
        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>{{l.name}}</mat-label>
            <input matInput type="number" value="">
        </mat-form-field>
        <br>
        }

        <br>
    </mat-dialog-content>

    <mat-dialog-actions style="display: flex; justify-content: space-between;">
        <div>
            @if(data.action === "edit") {
        <button style="color: var(--mat-sys-error)" mat-button mat-dialog-close (click)="onDelete(snus.id)">Delete</button>
        }
        </div>
        <div>
            <button matButton mat-dialog-close>Cancel</button>
        <button matButton [mat-dialog-close]="true" cdkFocusInitial type="submit">Ok</button>
        </div>
    </mat-dialog-actions>
</form>
