<div style="display: flex;  align-items: baseline; justify-content: space-between; margin: 1em">
    <div style="display: inline;">
        <h1 style="display: inline;">Snusmanager</h1>

    </div>

    <div>
        <!-- <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Location</mat-label>
            <mat-select style="display: inline;">
                <mat-option>All</mat-option>
                @for (l of locations; track l.name) {
                <mat-option value="{{l.name}}">{{l.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field> -->

        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Minimum rating</mat-label>
            <mat-select style="display: inline;" [(ngModel)]="searchRating" name="rating">
                <mat-option>None</mat-option>
                <mat-option [value]=1>1</mat-option>
                <mat-option [value]=2>2</mat-option>
                <mat-option [value]=3>3</mat-option>
                <mat-option [value]=4>4</mat-option>
                <mat-option [value]=5>5</mat-option>
                <mat-option [value]=6>6</mat-option>
                <mat-option [value]=7>7</mat-option>
                <mat-option [value]=8>8</mat-option>
                <mat-option [value]=9>9</mat-option>
                <mat-option [value]=10>10</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="margin-right: 0.5em;" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select style="display: inline;" [(ngModel)]="searchType">
                <mat-option>All</mat-option>
                @for (t of snustypes; track t) {
                <mat-option value="{{t}}">{{t.replace("_", " ") | titlecase}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="searchText">
            @if (searchText) {
            <button matSuffix matIconButton aria-label="Clear" (click)="searchText=''">
                <mat-icon>close</mat-icon>
            </button>
            }
        </mat-form-field>
    </div>

    <div>
        <button matIconButton aria-label="Add snus" (click)="addSnus()">
            <mat-icon>add</mat-icon>
        </button>

        <button style="margin-left: 0.5em;" matIconButton aria-label="Import snus from a URL" (click)="importSnus()">
            <mat-icon>download</mat-icon>
        </button>

        <button style="margin-left: 0.5em;" routerLink="/settings" matIconButton aria-label="Settings" >
            <mat-icon>settings</mat-icon>
        </button>

        <!-- <button style="margin-left: 0.5em;" matIconButton aria-label="Random snus">
            <mat-icon>casino</mat-icon>
        </button> -->
    </div>
</div>

<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); gap: 16px; margin: 2em;">
    @for (s of snus; track s.name) {
        @if ((!this.searchType || s.type === this.searchType)
             && (!this.searchRating || s.rating >= this.searchRating)
             && (!this.searchText || s.name.toLowerCase().includes(this.searchText.toLowerCase()))) {
            <mat-card appearance="outlined" style="display: flex; flex-direction: column; height: 100%; border-color: var(--mat-sys-surface-variant)">

                <mat-card-header style="height: 25%;">
                    <mat-card-title>{{s.name}}</mat-card-title>
                    @if (s.rating) {
                    <mat-card-subtitle style="color: var(--mat-sys-secondary);" >{{s.rating}}/10</mat-card-subtitle>
                    }
                </mat-card-header>


                <mat-card-content >
                    <div
                        style="height: auto; display: flex; align-items: flex-start; justify-content: center; margin: 1%; ">
                        <img mat-card-image src="http://127.0.0.1:5000/api/thumbnail/{{s.id}}" alt="{{s.name}}"
                            style="height: 100%; width: 100%; object-fit: contain;">
                    </div>
                </mat-card-content>

                <mat-card-actions style="margin-top: auto;">
                    <button matButton style="margin-left: auto;" (click)="editSnus(s.id)">EDIT</button>
                </mat-card-actions>
            </mat-card>
        }
    }
</div>
